html{
    display: flex;
    width: 100%;
    
        main{
            width: 100%;
        
    }
}
.wep_color{
height: 100%;


background-color: #001529;
}
.fs_color{
 display: inline-block;
 width: 100%;

  padding: 0 0 10px 0;

  font-size: 20px;
  text-align: center;

  border-bottom: 1px solid #7f8c8d;

  color: aliceblue;
  
}
/* 右侧主体内容 */
.h1{
   margin: 30px 30px 0 30px;
}

