body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #29bde0;
}

header .arrows1 {
  width: 15px;
  height: 15px;
  border-top: 1.5px solid #ffffff;
  border-left: 1.5px solid #ffffff;
  transform: rotate(-45deg);
}

header .fs-center {
  font-size: 14px;
  color: #ffffff;
}

header .end {
  width: 18px;
}

main {
  padding: 0 4px;
}

.main-wrap {
  margin: 15px 0;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
}

.main-wrap .top-fs {
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #c9c9c9;
  color: #29bde0;
}

.main-wrap .wrap {
  margin: 0 0 0 18px;
  border-left: 1px solid #c9c9c9;
}

.main-wrap .wrap .one-wrap-killer {
  position: relative;
  display: flex;
  height: 37.5px;
  padding: 10px 29px 10px 20px;
}

.main-wrap .wrap .one-wrap-killer .img1 {
  position: absolute;
  left: -16px;
  height: 24px;
  width: 30px;
  padding-top: 6px;
  text-align: center;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  background-color: #ffffff;
}

.main-wrap .wrap .one-wrap-killer .img1 .img-s1 {
  width: 18px;
}

.main-wrap .wrap .one-wrap-killer .img {
  position: absolute;
  left: -16px;
  height: 25px;
  width: 30px;
  padding-top: 5px;
  text-align: center;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  background-color: #ffffff;
}

.main-wrap .wrap .one-wrap-killer .img .img-s {
  width: 16px;
}

.main-wrap .wrap .one-wrap-killer .arrows {
  width: 0;
  height: 0;
  margin: 8px 0 0 0;
  border: 10.5px solid;
  border-color: transparent #24a7c6 transparent transparent;
}

.main-wrap .wrap .one-wrap-killer .box-color {
  height: 40px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  background-color: #24a7c6;
  color: #ffffff;
}

.main-wrap .wrap .font-s15 {
  margin: 5px 29px 10px 40px;
  text-align: center;
  background-color: #2c3e50;
  color: #8e44ad;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #29bde0;
}

footer .right-button {
  height: 40px;
  width: 40%;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  background-color: red;
  color: #ffffff;
}

footer .left-buttom {
  height: 40px;
  width: 40%;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  background-color: orange;
  color: #ffffff;
}
