@import url(heard.css);
@import url(footer.css);
body {
  margin: 0;
}

header {
}

footer {
}

a {
  text-decoration: none;
}

main {
  padding: 0 15vw;
  background-color: #fafafa;
}

main .nav-wrap-box {
  border-bottom: 1px solid #d0d6d9;
  padding: 31px 0;
}

main .nav-wrap-box .fs {
  color: black;
  font-weight: bold;
}

main .nav-wrap-box .fs1-box {
  color: #29b078;
}

main .nav-wrap-colum {
  padding: 23px 0;
  border-bottom: 1px solid #edf1f2;
}

main .nav-wrap-colum .fs13-color {
  font-size: 13px;
  color: gray;
}

main .nav-wrap-colum .a-ib {
  color: black;
}

main .nav-wrap-colum .a-ib:hover {
  background-color: #29b078;
  color: white;
}

main .fs-height80 {
  padding: 32px 0;
  margin: 0;
  border-bottom: 1px solid #d0d6d9;
}

main .profession-warp-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

main .profession-warp-box .box-warp {
  position: relative;
  width: 32.1%;
  margin: 43px 1% 0 0;
  border: 1px solid #eeeded;
  background-color: #ffffff;
}

main .profession-warp-box .box-warp:hover .ios-warp {
  visibility: visible;
  animation: ro 2s ease-out 1;
}

@keyframes ro {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

main .profession-warp-box .box-warp .img-fs-flex {
  display: flex;
}

main .profession-warp-box .box-warp .img-fs-flex .img-wh {
  display: inline-block;
  margin: 10px;
  width: 35%;
  height: 35%;
}

main .profession-warp-box .box-warp .img-fs-flex .fs-warp-box {
  display: inline-block;
}

main .profession-warp-box .box-warp .img-fs-flex .fs-warp-box .fs-mg {
  font-weight: bold;
  margin: 10px 0;
}

main .profession-warp-box .box-warp .msg-warp-box {
  display: flex;
  border-top: 1px solid #edf1f2;
  border-bottom: 1px solid #edf1f2;
}

main .profession-warp-box .box-warp .msg-warp-box img {
  vertical-align: middle;
}

main .profession-warp-box .box-warp .msg-warp-box .fs-l-container {
  width: 50%;
  padding: 10px 5px 10px 5px;
  border-right: 1px solid #edf1f2;
  color: gray;
}

main .profession-warp-box .box-warp .msg-warp-box .fs-r-container {
  width: 50%;
  padding: 10px 5px 10px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: gray;
}

main .profession-warp-box .box-warp .msg2-warp-box {
  display: flex;
}

main .profession-warp-box .box-warp .msg2-warp-box .fs-l2-container {
  width: 50%;
  padding: 10px 5px 10px 5px;
  border-right: 1px solid #edf1f2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: gray;
}

main .profession-warp-box .box-warp .msg2-warp-box .fs-red {
  color: red;
}

main .profession-warp-box .box-warp .msg2-warp-box .fs-r2-container {
  width: 50%;
  padding: 10px 5px 10px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: gray;
}

main .profession-warp-box .box-warp .msg3-warp-box {
  display: flex;
  border-top: 1px solid #edf1f2;
  border-bottom: 1px solid #edf1f2;
}

main .profession-warp-box .box-warp .msg3-warp-box .fs-l3-container {
  width: 40%;
  height: 105px;
  border-right: 1px solid #edf1f2;
  text-align: center;
  line-height: 105px;
  color: gray;
}

main .profession-warp-box .box-warp .msg3-warp-box .samp-s {
  position: absolute;
  right: 10px;
}

main .profession-warp-box .box-warp .msg3-warp-box .fs-r3-container {
  width: 60%;
  position: relative;
}

main .profession-warp-box .box-warp .msg3-warp-box .fs-r3-container .fs-s1 {
  padding: 10px 5px 10px 26px;
  border-bottom: 1px solid #edf1f2;
}

main .profession-warp-box .box-warp .msg3-warp-box .fs-r3-container .fs-s2 {
  padding: 10px 5px 10px 26px;
}

main .profession-warp-box .box-warp .fs-bottom1 {
  font-weight: bold;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid #edf1f2;
}

main .profession-warp-box .box-warp .span-red {
  color: red;
}

main .profession-warp-box .box-warp .fs-bottom2 {
  padding: 10px 5px 10px 5px;
  color: grey;
}

main .profession-warp-box .box-warp .ios-warp {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 0 10% 0 10%;
  background-color: black;
  opacity: 0.8;
  color: #fff;
  visibility: hidden;
}

main .profession-warp-box .box-warp .ios-warp .ios1 {
  font-size: 25px;
  text-align: center;
  padding: 10% 0 10% 0;
}

main .profession-warp-box .box-warp .ios-warp .ios2 {
  line-height: 20px;
  font-size: 16px;
  text-align: left;
}

main .ptb {
  padding-top: 234px;
}

@media only screen and (max-width: 1400px) and (min-width: 130px) {
  main .profession-warp-box .box-warp {
    width: 32%;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  main .profession-warp-box .box-warp {
    width: 48.5%;
  }
  main .profession-warp-box .box-warp .ios-warp .ios2 {
    line-height: 25px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  main .profession-warp-box {
    justify-content: center;
  }
  main .profession-warp-box .box-warp {
    width: 80%;
    margin: 43px 0 0 0;
  }
  main .profession-warp-box .box-warp .ios-warp .ios2 {
    line-height: 27px;
  }
}

@media only screen and (max-width: 800px) {
  main .profession-warp-box {
    justify-content: center;
  }
  main .profession-warp-box .box-warp {
    width: 100%;
    margin: 43px 0 0 0;
  }
  main .profession-warp-box .box-warp .ios-warp .ios2 {
    line-height: 27px;
  }
}

.footer-nav-wrap {
  margin: 0;
}
